In [102]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

from sklearn.neighbors import KNeighborsRegressor

import pickle

In [85]:
# problem statement- predict salary from experience

In [86]:
# data gathering

In [87]:
data=pd.read_csv("Salary_Data.csv")
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [88]:
# EDA

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [90]:
data.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [91]:
# data is clean

In [92]:
x=data["YearsExperience"]
y=data["Salary"]

In [93]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=15,train_size=0.7)

In [94]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((21,), (9,), (21,), (9,))

In [95]:
x_train=pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)
y_train=pd.DataFrame(y_train)
y_test=pd.DataFrame(y_test)

In [96]:
model=KNeighborsRegressor()

In [97]:
model.fit(x_train,y_train)

KNeighborsRegressor()

In [98]:
y_pred=model.predict(x_test)
y_pred_train=model.predict(x_train)

In [99]:
accuracy_test=r2_score(y_pred,y_test)

In [100]:
accuracy_test

0.9286816454131956

In [101]:
accuracy_train=r2_score(y_pred_train,y_train)
accuracy_train

0.9313749406983515

In [103]:
with open("model.pkl","wb") as file:
    pickle.dump(model,file)